/* Estilo básico */
body {
    color: #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    gap: 10%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #4682a9;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
}

.left-panel, .right-panel {
    box-sizing: border-box;
    padding: 10px;
}

.left-panel {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.cookie {
    cursor:pointer;
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 20px 0;
}

.right-panel {
    flex: 2;
    width: 100%;
}

.item {
    background-color: #75a4c6;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-info {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    flex: 1;
}

.item img {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.quantity {
    font-size: 1.2em;
    color: #ffffff;
    margin-left: 10px;
}

/* Caixa de preço */
.price-box {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #ffffff;
    margin-right: 20px;
}

.cookie-icon {
    width: 16px;
    height: auto;
    vertical-align: middle;
    margin-left: 3px;
}

.item-buttons {
    display: flex;
    gap: 10px;
}

.button {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    font-size: 0.9em; 
}

.button-buy1 {
    background-color: #e0e0e0;
    color: black;
}

.button-buy10 {
    background-color: #d0d0d0;
    color: black;
}

.selector {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Design Responsivo */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .left-panel, .right-panel {
        width: 100%;
        text-align: center;
    }

    .item {
        flex-direction: column;
        align-items: center;
    }

    .item-info {
        margin-bottom: 10px;
    }

    .item-buttons {
        justify-content: center;
    }

    .bakery-name {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .bakery-name {
        font-size: 1.2em;
        content: "Tartas'";
    }

    .stats {
        font-size: 1em;
    }

    .item img {
        width: 40px;
    }

    .button {
        padding: 6px 10px;
        font-size: 0.9em;
    }
}
